body {
    width: 1080px;
    height: 2400px;
    margin: auto;
    background-color: gray;
    border: 3px solid red;
}

#prva {
    display: none;
    position: relative;
    animation: uvod 1s;
}

.uvod {
    font-family: Naslovna;
    text-align: center;
    font-size: 2cm;
    color: rgb(61, 227, 61);
    text-shadow: 8px 8px 6px white;
}

@keyframes uvod {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#tur {
    margin-top: 26%;

}

#pocni {
    background-color: rgb(11, 203, 237);
    color: white;
    width: 500px;
    margin-left: 25%;
    padding: 2%;
    font-size: 1.5cm;
    font-weight: bolder;
    border: 5px solid black;
    border-radius: 15px;
}

#pocni:hover {
    background-color: rgb(237, 11, 11);
    cursor: pointer;

}

/* *********************Osnovne postavke***************** */

#postavke {
    /* display: none; */
    display: block;
    position: relative;
    border: 2px solid black;
    margin: auto;
}

#pocinje {
    margin-top: 2cm;
    font-family: Turnir1b;
    text-align: center;
    font-size: 2.2cm;
    color: aqua;
    text-shadow: 2px 2px white, -2px 2px white, 2px -2px white, -2px -2px white;
}

#bitekst{
    font-family: Turnir1r;
    font-size: 1cm;
    color:white;
    background-color: black;
    border-radius: 5px;
}

#igr1{
    margin-top: 1cm;
}

#bigr,#bprt{
    position: relative;
    width: 3cm;
    font-family: Turnir1r;
    font-size: 1cm;
    text-align: center;
    border-radius: 5px;
    left: 1cm;
}
#umot{
    width:600px;
    display: block;
    border: 2px solid green;
    margin: auto;
}

#potvrdi{
    position: relative;
    display: block;
    width: 6cm;
    height: 2cm;
    font-size: 6mm;
    font-family: Naslovna;
    margin: auto;
    top: 1cm;
    background-color: red;
    color: white;
    border-radius: 10px;
    
}

#iIgraca{
    border: 2px solid fuchsia;
    font-family: IgracNaslov;
    font-size: 3cm;
    text-align: center;
}

.iStill{
    width: 10cm;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2cm;
    font-family: Turnir1b;
    border: none;
    border-radius: 20px;
}